#root {
  text-align: center;
  align-items: stretch;
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #303030;
}

#root {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #303030;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.modal-open {
  overflow: hidden; /* Prevent scrolling when modal is open */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px); /* Apply blur effect */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: darken background */
  z-index: 49; /* Lower than modal */
  display: none; /* Hide by default */
}

.modal-overlay.visible {
  display: block; /* Show overlay when modal is open */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.gradient-text {
  background-image: linear-gradient(
    to right,
    #c3de4a,
    #38bdf8
  ); /* Gradient from emerald to sky */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container {
  padding: 20px;
  margin: 2em;
  height: 5em;
  width: 100%;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
  display: flex;
}
